.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: auto;
  padding: 20px;
  border: 1px solid #fff176;
  border-radius: 20px;
  background-color: #ffffff6c;
  box-shadow: 0 0 10px #0000001a;
  gap: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  color: violet;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.login {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.error {
  color: red;
  font-size: 12px;
}
